.photos-container{
    padding: 10px;
    // overflow-y: auto;

    ul {
      width: 300px;
      display: grid;
      gap: 8px;
      grid-template-columns: 1fr 1fr;
  
      .photo-pick {
        display: inline-block;
        height: 96px;
        border-radius: 8px;
        background-size: cover;
        cursor: pointer;
        &:hover {
          opacity: .7;
        }
    
      }
    }
    // &::-webkit-scrollbar {
    //   width: 8px;
    //   height: 8px;
    // }
    // &::-webkit-scrollbar-thumb {
    //   background: rgba(9, 30, 66, 0.08);
    //   border-radius: 5px;
    // }
    // &::-webkit-scrollbar-track {
    //   background: rgba(255, 255, 255, 0.386);
    //   border-radius: 5px;
    //   margin-inline-start: 8px;
    //   margin-inline-end: 8px;
    // }
  }
  