.search-section {
    .desc-filter {
        padding: 10px 8px 2px;
        margin-bottom: 0;
        color: #5e6c84;
        font-size: rem(14px);
    }

    hr {
        background-color: rgba(9, 30, 66, 0.13);
        border: 0;
        height: 1px;
        margin: 16px 0;
        padding: 0;
        width: 100%;
    }

    ul {
        .list-item {
            padding: 8px 4px 4px 3px;
            cursor: pointer;
            // &:hover:
        }
        span {
            border-radius: 3px;
            display: block;
            float: left;
            font-weight: 600;
            line-height: 32px;
            height: 30px;
            width: 30px;
            cursor: pointer;
            position: relative;
            max-width: 100%;
            overflow: hidden;
            white-space: nowrap;
        }
        p{
            margin: 0 0 5px 7px;
        }
    }
}
