.change-bgc {
    height: 100%;
    
    .change-container {
        margin: 8px;
        width: 100%;
        text-align: center;
       
        .change {
            background-size: cover;
            border-radius: 8px;
            height: 96px;
            cursor: pointer;
            width: 150px;
            &:hover {
                opacity: 0.7;
            }

            &.color {
                padding: 8px;
                margin: 8px;
                background-image: url(https://a.trellocdn.com/prgb/dist/images/colors@2x.864f4df15d825e89e199.jpg);
            }

            &.photo {
                padding: 8px;
                margin: 8px;
                background-image: url(https://a.trellocdn.com/prgb/dist/images/photos-thumbnail@3x.48948499e309aef794d7.jpg);
            }
        }
    }
}
