.about-this-board-section {
  z-index: 2;
  background-color: #ebecf0;
  position: absolute;
  top: 0;
  bottom: 0;
  padding-inline-start: 12px;

  > * {
    margin-block-start: 12px;
  }

  .header {
    font-size: 0.875rem;

    .icon-user {
      font-weight: 800;
      margin-inline-end: 10px;
    }
  }
  .info {
    padding: 5px;
  }
  .description-container {

    .details {
      padding: 5px;
    }
    .icon {
      margin-top: 13px;
    }
  }
  .discription {
    max-width: 35ch;
  }
}
