.menu-main {
  hr {
    margin: 16px 0;
  }

  .menu-main-item {
    border-radius: 3px;
    font-size: 0.875rem;
    line-height: 32px;
    color: #4d5a76;
    cursor: pointer;
    a {
      padding: 0;
    }
    .menu-title {
      margin-inline-start: 8px;
      &.activity-title {
        font-size: 14px;
        font-family: Sageo-bold, sans-serif;
        font-weight: 700;
        margin-inline-start: 9px;
      }
    }

    &:hover {
      color: $clr1;
      background-color: rgba(9, 30, 66, 0.08);
    }

    .icon {
      width: 20px;
      margin: 5px 0 5px 5px;
    }

    .square {
      width: 18px;
      height: 18px;
      border-radius: 3px;
      background-color: #4d5a76;
    }
    .activity-icon {
      width: 15px;
      margin-inline-start: 8px;
    }
    .delete-icon {
      font-size: 18px;
      padding-inline-start: 2px;
    }
  }
}
