.activity-container {
  .activity-avatar {
    object-fit: cover;
    min-width: 32px;
  }
  .activity-info {
    padding: 8px;
    .user-activity {
      font-size: 14px;
      line-height: 18px;
      .userName {
        font-family: Sageo-bold, sans-serif;
        font-weight: 700;
      }
    }
    .created-at {
      color: #5e6c84;
      font-size: 12px;
    }
  }
}
