.menu-main {
  hr {
    margin: 16px 0;
  }

  .menu-main-item {
    border-radius: 3px;
    font-size: 0.875rem;
    line-height: 32px;
    color: #4d5a76;
    cursor: pointer;
    a {
      padding: 0;
    }
    .menu-title {
      margin-inline-start: 8px;
      &.activity-title {
        font-size: 14px;
        font-family: Sageo-bold, sans-serif;
        font-weight: 700;
      }
    }

    &:hover {
      color: $clr1;
      background-color: rgba(9, 30, 66, 0.08);
    }

    .icon {
      font-size: rem(20px);
      margin-inline-end: 5px;
    }
  }
}
