
// COLOR PALETTE
$clr1: #4D5A76; //text-color
$clr2: #ebecf0; //group-bgc
$clr3: #F5F5F7; //task-details-bgc
$clr4: #f0decb;
$clr5: #fff;
$clr6: hsla(0, 0%, 100%, 0.24); //button-bgc without hover

// LAYOUT BREAKPOINTS
$break-narrow: 460px;
$break-normal: 740px;
$break-wide: 960px;


