
// COLOR PALETTE
$clr1: #4D5A76; //text-color
$clr2: #ebecf0; //group-bgc
$clr3: #F5F5F7; //task-details-bgc
$clr4: #f0decb;
$clr5: #fff;
$clr6: hsla(0, 0%, 100%, 0.24); //button-bgc without hover
$clr7: rgba(9, 30, 66, 0.048); // bgc of all btns in task-details

$bclr1: #c49191e3;
$bclr2: #c4a691e3;
$bclr3: #c491b0e3; //button-bgc without hover
$bclr4: #ac91c4e3; //button-bgc without hover
$bclr5: #91a8c4e3; //button-bgc without hover
$bclr6: #91c2c4e3; //button-bgc without hover
$bclr7: #91c49ce3; //button-bgc without hover

// LAYOUT BREAKPOINTS
$break-narrow: 460px;
$break-normal: 740px;
$break-wide: 960px;


