.todo-item {
  position: relative;
  padding: 3px 6px 3px 0;
  cursor: pointer;
  &:hover {
    background-color: rgba(9, 30, 66, 0.048);
    border-radius: 3px;
  }
  .todo {
    &.checked {
      text-decoration: line-through;
    }
  }
  .more-btn {
    position: absolute;
    padding: 3px;
    border-radius: 3px;
    right: 5px;
    top: 20%;
    &:hover {
      background-color: rgba(9, 30, 66, 0.048);
    }
  }
}



// .checkbox {
//   cursor: pointer;
//   &::after {
//     content: '☐';
//     font-size: 25px;
//   }
//   &.done::after {
//     content: '☑︎';
//     font-size: 25px;
//     width: 25px;
//     height: 25px;
//     background-color: #5aa4cf;
//     color: white;
//   }
// }

