.todo-item {
  position: relative;
  // padding: 3px 6px 3px 0;
  height: 32px;
  cursor: pointer;
  &:hover {
    background-color: rgba(9, 30, 66, 0.048);
    border-radius: 3px;
  }
  .todo-checkbox-icon {
    padding: 0 0 0 4px;
  }
  .todo {
    &.checked {
      text-decoration: line-through;
    }
  }
  .more-btn {
    position: absolute;
    padding: 3px;
    border-radius: 3px;
    right: 5px;
    top: 20%;
    &:hover {
      background-color: rgba(9, 30, 66, 0.048);
    }
  }
}
