.task-label {
  color: white;
  font-size: 14px;
  ul {
    flex-wrap: wrap;
    .list-item {
      span {
        position: relative;
        border-radius: 3px;
        float: left;
        height: 32px;
        line-height: 32px;
        margin: 0 4px 0 0;
        min-width: 40px;
        padding: 0 12px;
        cursor: pointer;

        &:hover {
          background-color: rgba(9, 30, 66, 0.08);
        }
      }

      &:last-child {
        color: $clr1;
      }
    }
  }
}
