.due-date {
  .title {
    text-transform: uppercase;
    color: #5e6c84;
    font-size: 14px;
    margin: 0 8px 4px 0;
  }
  .date-container {
    border-radius: 3px;
    background-color: rgba(9, 30, 66, 0.048);
    border: none;
    color: #4d5a76;
    padding: 4px 10px;
  }
}
