.header-container {
    margin: rem(14px) 0 rem(14px) 0;
    .task-title-container {
      .title-input {
        border-radius: 3px;
        width: 90%;
        outline: none;
        color: $clr1;
        font-weight: 600;
        font-size: rem(20px);
        line-height: rem(20px);
        border: none;
        background-color: transparent;
        padding: 8px 0;
        &:focus {
            background-color: #fff;
            box-shadow: inset 0 0 0 2px #464646;
        }
    }
      p:first-of-type{
        color: #5e6c84;
        font-size: rem(14px);
  
        .task-list-link {
          color: $clr1;
          text-decoration: underline;
          cursor: pointer;
        }
      }
    }
    p.move-title {
      margin: 16px 0 4px 0;
      font-size: 12px;
    }
    .selects-container {
      .group-select {
        flex: 1;
        .el-select {
          margin-block-start: 5px;
        }
      }
      .pos-select {
        width: 30%;
        margin-inline-start: 5px;
        .el-select {
          margin-block-start: 5px;
        }
      }
    }
    button {
      margin-block-start: 10px;
    }
  }