.cntrlr-container {
  width: 100%;
  > * {
    width: 100%;
    margin-bottom: 10px;
  }
  .btns-title {
    align-self: flex-start;
  }
  .nav-container {
    .open-popup-btn-container {
      width: 100%;
      .open-popup-btn {
        width: 100%;
        margin: 0 0 10px 0;
        text-align: left;
        position: relative;
        .fa-nav-icon {
          margin-inline-end: 10px;
        }
      }
    }
  }
  .date-picker-btn {
    z-index: -1;
    opacity: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
}

@include for-mobile-layout {
  .cntrlr-container {
    .nav-container {
      .open-popup-btn-container {
        display: flex;
      
        .open-popup-btn {
          margin-inline-end: 10px;
          width: 40px;
          display: flex;
          align-content: center;
          justify-content: center;
          align-items: center;
          p {
            display: none;
          }
          .fa-nav-icon {
            margin: 0;
          }
        }
      }
    }
  }
}
