.members-container {
  p {
    text-transform: uppercase;
    color: #5e6c84;
    font-size: 14px;
    margin: 0 8px 4px 0;
  }
  .member-avatars {
    > * {
      width: rem(33px);
      height: rem(33px);
      margin-inline-end: rem(3px);
    }
    .avatar-item {
      object-fit: cover;
    }
    .add-member-btn {
      position: relative;
      background-color: rgba(9, 30, 66, 0.048);
      color: $clr1;
      border: none;
      outline: none;
      border-radius: 50%;
    }
  }
}
