.task-label {
  p {
    text-transform: uppercase;
    color: #5e6c84;
    font-size: 14px;
    margin: 0 8px 4px 0;
  }
  ul {
    flex-wrap: wrap;
    .list-item {
      span {
        border-radius: 3px;
        box-sizing: border-box;
        display: block;
        float: left;
        font-weight: 600;
        height: 32px;
        line-height: 32px;
        margin: 0 4px 4px 0;
        min-width: 40px;
        padding: 0 12px;
        width: auto;
        cursor: pointer;
        position: relative;
        color: white;

        &:hover {
          background-color: rgba(9, 30, 66, 0.08);
        }
      }
    }
  }
}
