.checklist-container {
  .checklist-btn {
    width: 100px;
    cursor: pointer;
  }
  form {
    border-radius: 3px;
    padding: 0;

    input {
      margin-block-start: rem(12px);
      margin-block-end: rem(12px);
      width: 100%;
    }
    .btn-container {
      button {
        margin-inline-end: 5px;
      }
      i {
        cursor: pointer;
      }
    }
  }
  // .todos-container {
  //   width: 100%;
  // }
}
