.task-attachment-container {
  .task-attachment {
    margin-block-end: 10px;
    .attach-item {
      margin-block-end: 15px;
    }

    .img-container {
      width: 30%;
      //   height: rem(80px);
      background-color: $clr2;
      border-radius: 3px;
      img {
        height: 100%;
        object-fit: cover;
      }
    }

    .img-desc {
      // margin-inline-start: rem(20px);
      font-size: rem(14px);
      h1 {
        font-size: rem(14px);
        font-weight: 400;
      }
      a {
        color: $clr1;
        text-decoration: underline;
        cursor: pointer;
      }
    }
    .btn-containter{
      .link-btn{
        background-color: none;
        border: none;
        text-decoration: underline;
        color: $clr1;
        font-family: 'Segoe';
      }
    }
  }
  .attachment-btn {
    width: 200px;
  }
}
