.color-palette {
  margin-block-end: 10px;
  p {
    margin-block-end: 10px;
    text-transform: uppercase;
    text-align: left;
    font-size: 12px;
  }
  ul {
    display: grid;
    gap: 8px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

    .color-item {
      display: inline-block;
      height: 30px;
      border-radius: 3px;
      cursor: pointer;
      &:focus {
        border-color: blue;
      }
    }
  }
}
