.checklist-popup-container {
  label {
    font-weight: 700;
    font-size: 13px;
    line-height: 16px;
    margin-top: 12px;
    margin-bottom: 4px;
    display: block;
  }
  input {
    margin-block-end: 20px;
  }
  .add-btn {
    width: 80px;
    text-align: center;
  }
}
