.window-overlay {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.64);
  height: 100%;
  left: 0;
  overflow-y: auto;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  padding: 48px 0;

  .task-details {
    position: relative;
    background-color: $clr3;
    width: 70%;
    min-height: 85%;
    border-radius: 3px;
    z-index: 11;

    .task-main {
      > * {
        margin-block-end: 20px;
      }
    }
    .task-data-container {
      flex-wrap: wrap;
      > * {
        margin-inline-end: 10px;
        margin-block-end: 10px;
      }
    }
  }
}

//TASK DETAILS GRID
.details-grid {
  padding: 0 rem(20.4px);
  display: grid;
  grid-template-columns: 2fr 0.8fr;
  grid-template-rows: rem(100px) minmax(rem(80px), 1fr);
  column-gap: rem(20.4px);
  .d-cntrlr {
    grid-column: 2;
    grid-row: 2;
  }
  .d-header {
    grid-column: 1 / -1;
    grid-row: 1;
    display: grid;
    grid-template-columns: rem(30px) 1fr;
  
    .d-icon {
      grid-column: 1;
      margin: 9px 0 0 4px;
    }
    .d-content {
      grid-column: 2;
      // padding: 0 0 0 4px;
    }
  }
  .d-desc {
    grid-column: 1 / 2;
    grid-row: 2;
    display: grid;
    grid-template-columns: rem(30px) 1fr;
  
    .d-icon {
      grid-column: 1;
      margin: 9px 0 0 4px;
    }
    .d-content {
      grid-column: 2;
      // padding: 0 0 0 4px;
    }
  }
  .d-checklist {
    grid-column: 1 / 2;
    grid-row: 2;
    display: grid;
    grid-template-columns: rem(30px) 1fr;
    .d-container {
      grid-column: 1 / -1;
    }
    .d-todos {
      display: grid;
      grid-template-columns: rem(30px) 1fr;
    }
    .d-icon {
      grid-column: 1;
      margin: 9px 0 0 4px;
    }
    .d-content {
      grid-column: 2;
      // padding: 0 0 0 4px;
    }
  }
}

//////////

// TASK DETAILS HELPERS
.task-details-header {
  font-size: 16px;
  line-height: 20px;
  padding: 8px 0;
  margin: 0 0 4px;
}

.task-details-btn {
  padding: rem(6px) rem(12px);
  font-size: rem(14px);
}

.task-details-title {
  text-transform: uppercase;
  color: #5e6c84;
  font-size: 12px;
  margin: 0 8px 4px 0;
}
