.add-task {
    .adding {
        display: block;
        color: #6b778c;
        padding: 4px 8px;
    }
    .el-button--info {
        margin-inline-end: 10px;
    }
    .textarea {
        padding: 6px 8px;
        margin-block-end: 10px;
        color:$clr1;
    }
    .el-icon-close:before {
        font-size: rem(16px);
    }
    ::placeholder {
        color: $clr1;
    }
}
