.add-task {
    .adding {
        display: block;
        color: #6b778c;
    }
    .el-button--info {
        margin-inline-end: 10px;
    }
    .el-textarea__inner {
        padding: 6px 8px;
        margin-block-end: 10px;
    }
    .el-icon-close:before {
        font-size: rem(16px);
    }
    .textarea {
        overflow: hidden;
        overflow-wrap: break-word;
        resize: none;
        outline: none;
        border: none;
        width: 250px;
        height: 65px;
        border-radius: 3px;
        font-family: Segoe, serif;
        letter-spacing: normal;
        font-size: em(16px);
    }
}
