.add-task {
  form {
    padding: 4px 11px;
    margin-block-end: 4px;

    .el-button--info {
      margin-inline-end: 10px;
    }
    .textarea {
      padding: 6px 8px;
      color: $clr1;
      margin-block-end: 4px;
    }
    .el-icon-close {
      cursor: pointer;
      font-size: rem(14px);
    }
    ::placeholder {
      color: $clr1;
    }
  }
}
