.board-menu {
  background: $clr2;
  width: 350px;
  height: 100vh;
  position: absolute;
  top: 50px;
  right: 0;
  z-index: 1;
  border-radius: 3px;
  box-shadow: 0 12px 24px -6px rgba(9, 30, 66, 0.25),
    0 0 0 1px rgba(9, 30, 66, 0.08);

    .menu-header {
    padding: 10px 0;

    .close-menu {
      position: absolute;
      right: 12px;
      top: 13px;

      font-size: rem(20px);
      cursor: pointer;
    }
  }
  .board-menu-header-divider {
    background-color: rgba(9, 30, 66, 0.13);
    border: 0;
    height: 1px;
    margin: 0;
    margin-inline-start: 10px;
    margin-inline-end: 10px;
  }
}
