.board-header {
  height: rem(50px);
  a {
    border-radius: 3px;
    line-height: 32px;
    padding: 0 12px;
    color: white;
    cursor: pointer;
    text-transform: capitalize;
  }

  .board-title {
    font-family: Segoe-Bold;
  }
  .board-menu-btn {
    position: relative;
  }
  .slide-enter-active {
    transition: all 0.3s ease;
  }
  .slide-leave-active {
    transition: all 0.3s ease;
  }
  .slide-enter,
  .slide-leave-to {
    transform: translateX(350px);
  }
}
