.group-content {
    cursor: pointer;
}

.add-task {
    .adding {
        display: block;
        color: black;
    }
    .el-button--info {
        margin-inline-end: 10px;
    }
    .el-textarea__inner {
        padding: 6px 8px;
        margin-block-end: 10px;
    }
    .el-icon-close:before{
        font-size: rem(16px);
    }
}
