.main-header {
  background-color: transparent;
  color: $clr1;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  height: 70px;

  .menu-btn{
    display: none;
  }
  .main-header-container {
    height: 70px;

    .home-icon{
      font-size: 32px;
      margin-inline-end: 4px;
      color: $clr1;
    }
    .logo {
      position: absolute;
      left: 50%;
      transform: translate(-50%);
      .task-it-logo {
        font-family: Baumans;
        font-size: 30px;
      }
      .gif-icon {
        width: 50px;
      }
    }
    a {
      color: $clr1;
    }

    nav {
      .mobile-separator {
        display: none;
      }

      color: $clr1;
      > * {
        margin-inline-start: rem(10px);
      }

      .member {
        cursor: pointer;
      }

      .loggedin-user-mobile {
        display: none;
      }

      // a {
      //   border: 1px solid white;
      //   background-color: white;
      //   padding: 6px 8px;
      //   border-radius: 3px;
      //   &:hover {
      //     background-color: transparent;
      //     transition: 1s;
      //   }
      // }
    }
  }
}

@include for-narrow-layout {
  .main-header {
    .main-header-container {
      nav {
        position: fixed;
        right: 0;
        top: 0;
        flex-direction: column-reverse;
        align-items: flex-start;
        height: 100vh;
        width: 70%;
        background-color: #f4f4f4f7;
        transform: translateX(100%);
        box-shadow: none;
        z-index: 20;
        transition: transform 1s, box-shadow 1s;
        justify-content: flex-end;

        .mobile-separator {
          display: block;
        }

        > * {
          margin-inline-start: unset;
        }

        .loggedin-user {
          display: none;
        }
        .loggedin-user-mobile {
          display: block;
        }

        a {
          color: $clr1;
          width: 100%;
          padding: unset;
          background-color: transparent;
          border: none;
          margin: 0;
          padding: 9px 12px;
          font-size: 18px;
          &:hover {
            background: rgba(9, 30, 66, 0.04);
          }
        }
      }
    }
    .menu-btn {
      display: flex;
      position: absolute;
      top: 22px;
      right: 14px;
      cursor: pointer;
      color: $clr1;
    }
  }
}
