.main-header {
  height: 50px;
  background-color: rgba(36, 36, 36, 0.32);
  color: white;

  .logo {
    font-size: 26px;
    font-weight: 600;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
  }
  a {
    border-radius: 3px;
  }

  nav {
    .member {
      cursor: pointer;
    }

    > * {
      margin-inline-start: rem(10px);
    }
  }
}

// @include for-wide-layout {
//   .main-header {
//     height: 50px;
//   }
// }
