.main-header {
  height: 8vh;
  background-color: rgba(36, 36, 36,  0.32);
  color: white;
  display: grid;
  grid-template-columns: repeat(3,1fr);

  .logo{
    font-size: 26px;
    font-weight: 600;
    grid-column: 2;
  }
  a{
    border-radius: 3px;
  }

  nav {
    grid-column: 3;

    > * {
      margin-inline-start: rem(10px);
    }
  }
}
