.popup {
  font-family: Segoe;
  position: absolute;
  top: 34px;
  left: 0;
  z-index: 1;
  background-color: white;
  width: 300px;
  border-radius: 3px;
  margin-block-start: 8px;
  color: #5e6c84;
  box-shadow: 0 8px 16px -4px rgba(9, 30, 66, 0.25),
    0 0 0 1px rgba(9, 30, 66, 0.08);
  .header {
    position: relative;
    padding: 10px;

    .close-cntrl {
      position: absolute;
      right: 10px;
      cursor: pointer;
      &:hover {
        color: $clr1;
        font-weight: 600;
      }
    }
  }
  .main {
    padding: 8px;
  }
}

@include for-mobile-layout {
  .popup {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 11;
    margin: 0;
  }
}
