.task {
  background-color: white;
  box-shadow: 0 1px 0 rgba(9, 30, 66, 0.25);
  border-radius: 3px;
  margin-block-end: 10px;
  cursor: pointer;
  position: relative;
  font-size: 14px;

  .labels-list {
    flex-wrap: wrap;
    .label {
      span {
        float: left;
        font-size: 12px;
        height: 8px;
        line-height: 100px;
        margin: 0 4px 4px 0;
        max-width: 40px;
        min-width: 40px;
        padding: 0;
        border-radius: 10px;
      }
    }
  }

  .task-content {
    padding: 6px 8px;
    position: relative;

    .task-title {
      overflow-wrap: anywhere;
      width: 93%;
    }
    &:hover .task-action {
      opacity: 1 !important;
    }

    .task-details-icons {
      flex-wrap: wrap;

      .icons-inner-container {
        > * {
          font-size: 12px;
          margin-inline-end: 3px;
          border-radius: 3px;
          color: #6b778c;
          padding: 0 3px;
        }
      }

      .members-icon {
        ul {
          > *:not(:last-child){
            margin-inline-end: 5px;
          }
        }
      }
    }
  }

  .delete-task {
    position: absolute;
    right: 6px;
    top: 5px;
  }

  .task-cover {
    width: 100%;
    min-height: 37px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
  }

  .task-action {
    position: absolute;
    font-size: 1em;
    color: #6b778c;
    padding: 8px 8px;
    border-radius: 3px;
    right: 3px;
    top: 3px;
    opacity: 0;

    &:hover {
      color: $clr1;
      background-color: rgba(9, 30, 66, 0.08);
    }
  }
}
