.task-desc-container {
  .emptyDesc {
    display: block;
    color: $clr1;
    background-color: rgba(9, 30, 66, 0.048);
    padding: 8px 12px;
    border-radius: 3px;
    width: 100%;
    min-height: 55px;
    font-size: rem(14px);
  }

  form {
    textarea {
      width: 100%;
      font-size: 0.875rem;
      line-height: 1.6;
      padding: 8px 12px;
      color: $clr1;
    }
  }
}
