.cntrlr-container {
    width: 100%;
    // padding-inline-start: 10px;
    >* {
        width: 100%;
        margin-bottom: 10px;
    }
    .btns-title {
        align-self: flex-start;
        font-size: rem(12px);
        color: #5e6c84;
    }
    .nav-container {
        button{
            width: 100%;
            margin: 0 0 10px 0;
            text-align: left;
        }
    }  
}

