.task-menu-container {
    position: absolute;
    top: 37px;
    right:-2px;
    background-color: #ffffff;
    box-shadow: 0 8px 16px -4px rgba(9, 30, 66, 0.25), 0 0 0 1px rgba(9, 30, 66, 0.08);
    width: 200px;
    border-radius: 3px;
    z-index: 1;
    font-family: Segoe, serif;
    color: #5e6c84;
    line-height: 40px;
   
  
    .task-details-header {
      font-size: rem(14px);
      line-height: 20px;
      padding: 10px 12px;
      margin: 0;
    }
  
    .close-btn {
      margin: 12px;
      position: absolute;
      right: 0;
      top: 1px;
      cursor: pointer;
    }
  
    .menu-opt {
      margin: 10px 0;
      padding-inline-start: 10px;
      &:hover {
        background-color: rgba(9, 30, 66, 0.04);
      }
      .icon-del{
        padding-inline-end: 10px;
      }
    }
  
    .task-menu-header-divider {
      background-color: rgba(9, 30, 66, 0.13);
      border: 0;
      margin: 0;
      padding: 0.6px;
      margin-inline-start:10px;
      margin-inline-end:10px;
    }
  }
  