.task {
  background-color: white;
  box-shadow: 0px 0px 2px 1px #8e8e8e61;
  border-radius: 3px;
  margin-block-end: 10px;
  cursor: pointer;
  position: relative;

  .task-content {
    padding: 6px 8px;
    position: relative;
    .task-title {
      overflow-wrap: anywhere;
      width: 93%;
    }
  }

  .delete-task{
      position: absolute;
      right: 6px;
      top: 11px;
  }

  .task-cover {
    width: 100%;
    min-height: 32px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
  }
}
