.cntrlr-container {
    width: 100%;
    >* {
        width: 100%;
        margin-bottom: 10px;
    }
    .btns-title {
        align-self: flex-start;
        font-size: rem(12px);
    }
    .el-btn {
        width: 100%;
        margin: 0 0 10px 0;
        background-color: $clr7;
        text-align: left;
        &:hover {
            color: $clr1;
            background-color: rgba(9, 30, 66, 0.116);
        }
    }
}