.task {
  background-color: white;
  box-shadow: 0 1px 0 rgba(9, 30, 66, 0.25);
  border-radius: 3px;
  margin-block-end: 10px;
  cursor: pointer;
  position: relative;

  .labels-list {
    .label {
      span {
        float: left;
        font-size: 12px;
        font-weight: 700;
        height: 8px;
        line-height: 100px;
        margin: 0 4px 4px 0;
        max-width: 40px;
        min-width: 40px;
        padding: 0;
        border-radius: 10px;
      }
    }
  }

  .task-content {
    padding: 6px 8px;
    position: relative;
    .task-title {
      overflow-wrap: anywhere;
      width: 93%;
    }
  }

  .delete-task {
    position: absolute;
    right: 6px;
    top: 5px;
  }

  .task-cover {
    width: 100%;
    min-height: 32px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
  }

  .task-action {
    position: absolute;
    font-size: 1em;
    color: #6b778c;
    padding: 8px 8px;
    border-radius: 3px;
    right: 3px;
    top: 3px;

    &:hover {
      color: $clr1;
      background-color: rgba(9, 30, 66, 0.08);
    }
  }
}
