.task-cover {
    min-height: rem(116px);
    flex-direction: row-reverse;
    border-radius: 3px 3px 0 0;

    .cover-btn-cntr{
      position: absolute;
      top: 125px;
      right: 8px;

      .cover-btn {
        align-self: flex-end;
        &:hover {
          background-color: rgba(9, 30, 66, 0.08);
          border-color: #bfbfbfd6;
          color: white;
        }
        &:focus {
          background-color: rgba(9, 30, 66, 0.08);
          border-color: #bfbfbfd6;
          color: white;
        }
      }
    }
    .cover-img {
      width: 250px;
    }
  }