.task-details {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: $clr3;
  width: 55%;
  min-height: 85%;
  border-radius: 3px;

  .cover-container {
    min-height: rem(116px);
    background-color: lightcoral;
    display: flex;
    flex-direction: row-reverse;

    .cover-btn {
      align-self: flex-end;
      &:hover {
        background-color: rgba(9, 30, 66, 0.08);
        border-color: #bfbfbfd6;
        color: $clr1;
      }
    }
  }
}

.details-grid {
  display: grid;
  height: 100%;
  grid-template-columns: 5px 2fr 1fr 5px;
  grid-template-rows: 60px 1fr 1fr;
}

.d-header {
  // grid-area: header;
  grid-column: 2 / -2;
  grid-row: 1;
  background-color: blue;
  display: grid;
  grid-template-columns: rem(50px) 1fr;

  .d-icon {
    grid-column: 1;
    background-color: green;
  }
  .d-content {
    grid-column: 2;
    background-color: rgb(60, 0, 128);
  }
}
.d-cntrlr {
  grid-column: 3;
  grid-row: 2 / -1;
  background-color: aqua;
}

.d-desc {
  grid-column: 2;
  grid-row: 2;
  display: grid;
  grid-template-columns: rem(50px) 1fr;

  .d-icon {
    grid-column: 1;
    background-color: green;
  }
  .d-content {
    grid-column: 2;
    background-color: rgb(60, 0, 128);
  }
}



.d-checklist {
  grid-column: 2;
  grid-row: 3;
  display: grid;
  background-color: rgb(251, 255, 0);
  grid-template-columns: rem(50px) 1fr;
  .d-icon {
    grid-column: 1;
    background-color: green;
  }
  .d-content {
    grid-column: 2;
    background-color: rgb(60, 0, 128);
  }
}

.details-layout {
  padding: 10px;
}

.task-list-link {
  color: $clr1;
}
