.task-details {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: $clr3;
  width: 55%;
  min-height: 85%;
  border-radius: 3px;

  .cover-container {
    min-height: rem(116px);
    background-color: lightcoral;
    display: flex;
    flex-direction: row-reverse;

    .cover-btn {
      align-self: flex-end;
      &:hover {
        background-color: rgba(9, 30, 66, 0.08);
        border-color: #bfbfbfd6;
        color: $clr1;
      }
    }
  }
}

 //TASK DETAILS GRID
.details-grid {
  display: grid;
  height: 100%;
  grid-template-columns: rem(20.4px) 2fr 1fr rem(20.4px);
  grid-template-rows: rem(80px) 1fr 1fr;
}

.d-header {
  grid-column: 2 / -2;
  grid-row: 1;
  display: grid;
  grid-template-columns: rem(30px) 1fr;

  .d-icon {
    grid-column: 1;
  }
  .d-content {
    grid-column: 2;
  }
}
.d-cntrlr {
  grid-column: 3;
  grid-row: 2 / -1;
}

.d-desc {
  grid-column: 2;
  grid-row: 2;
  display: grid;
  grid-template-columns: rem(30px) 1fr;

  .d-icon {
    grid-column: 1;
  }
  .d-content {
    grid-column: 2;
  }
}

.d-checklist {
  grid-column: 2;
  grid-row: 3;
  display: grid;
  grid-template-columns: rem(30px) 1fr;
  grid-template-rows: 1fr 1fr;
  .d-icon {
    grid-column: 1;
  }
  .d-content {
    grid-column: 2;
  }
  .d-checklist {
    grid-column: 1 / -1;
    grid-row: 2;
  }
}
//////////

.details-layout {
  padding: 5px;
}
.task-title-container {
  h1 {
    font-size: rem(20px);
    padding: 4px 0;
  }
  p {
    color: #5e6c84;
    font-size: rem(14px);
  }
}

.task-list-link {
  color: $clr1;
}

.task-details-header {
  font-size: 16px;
  line-height: 20px;
  padding: 8px 0;
  margin: 0 0 4px;
}

.task-details-icon {
  line-height: 20px;
  padding: 8px 0;
  margin: 0 0 4px;
  display: flex;
  // justify-content: center;
  justify-content: flex-start;
}
