.board-header {
  height: 50px;
  font-family: Segoe, serif;
  position: relative;
  // color: white;

  .devider {
    border-left: 1px solid rgba(255, 255, 255, 0.24);
    height: 16px;
    margin: 8px 8px 12px 4px;
  }

  a {
    border-radius: 3px;
    line-height: 32px;
    padding: 0 12px;
    color: white;
    cursor: pointer;
    text-transform: capitalize;
  }

  .board-title {
    font-family: Segoe-Bold, serif;
    margin-inline-end: 5px;
  }

  .board-menu-btn {
    position: relative;
    .icon {
      margin-inline-end: 5px;
    }
  }

  .slide-enter-active {
    transition: all 0.2s ease;
  }
  .slide-leave-active {
    transition: all 0.2s ease;
  }
  .slide-enter,
  .slide-leave-to {
    transform: translateX(350px);
  }
  .members-list {
    &:last-of-type {
      margin-inline-end: 8px;
    }
    .member {
      text-align: center;
    }
    span {
      position: relative;
    }
  }
  .invite-btn {
    position: absolute;
  }

  .dashboard-btn {
    margin-inline-end: rem(4px);
    .dashboard-icon {
      margin-inline-end: 5px;
    }
  }
}

@include for-narrow-layout {
  .board-header {
    .members-list {
      display: none;
    }

    .invite-btn {
      margin-inline-start: unset;
    }
    .dashboard-btn {
      font-size: rem(18px);
      p {
        display: none;
      }
    }
    .board-menu-btn {
      align-items: center;
      justify-content: center;
      font-size: rem(18px);
      p {
        display: none;
      }
      .icon {
        margin: 0;
      }
    }

    // flex-direction: column;
    // height: unset;
    // > * {
    //   margin-block-end: 10ox;
    // }
  }
}
