.board-header {
  height: 8vh;
  padding-block-start: 8px;
  padding-block-end: 8px;
  a {
    border-radius: 3px;
    line-height: 32px;
    padding: 0 12px;
    color: white;
    cursor: pointer;
    text-transform: capitalize;
  }

  .board-title {
    font-family: Segoe-Bold;
    font-size: rem(18px);
  }
  .board-menu-btn {
    position: relative;
  }

  .slide-enter-active {
    transition: all 0.2s ease;
  }
  .slide-leave-active {
    transition: all 0.2s ease;
  }
  .slide-enter,
  .slide-leave-to {
    transform: translateX(350px);
  }
}
