.board-menu {
  background: $clr2;
  width: 350px;
  max-height: 92vh;
  height: 92vh;
  position: absolute;
  top: 50px;
  right: 0;
  z-index: 1;
  border-radius: 3px;
  box-shadow: 0 12px 24px -6px rgba(9, 30, 66, 0.25),
    0 0 0 1px rgba(9, 30, 66, 0.08);

  .menu-header {
    height: 50px;
    padding: 0 12px 0 24px;

    .close-menu {
      font-size: rem(20px);
      cursor: pointer;
    }
    .icon-back {
      font-weight: 600;
      cursor: pointer;
    }
  }

  .menu-content {
    flex: 1;
    padding: 12px 6px 12px 12px;
    position: relative;
    overflow-y: auto;

    &::-webkit-scrollbar {
      width: 8px;
      height: 8px;
    }
    &::-webkit-scrollbar-thumb {
      background: rgba(9, 30, 66, 0.08);
      border-radius: 5px;
    }
    &::-webkit-scrollbar-track {
      background: rgba(255, 255, 255, 0.386);
      border-radius: 5px;
      margin-inline-start: 8px;
      margin-inline-end: 8px;
    }
  }

  .slide-in-enter-active {
    transition: all 0.2s ease;
  }

  .slide-in-enter {
    transform: translateX(350px);
  }
}
