.board-header {
  height: 50px;
  font-family: Segoe, serif;

  a {
    border-radius: 3px;
    line-height: 32px;
    padding: 0 12px;
    color: white;
    cursor: pointer;
    text-transform: capitalize;
  }

  .board-title {
    font-family: Segoe-Bold, serif;
    font-size: rem(18px);
  }
  .board-menu-btn {
    position: relative;
  }

  .icon {
    margin-inline-end: 5px;
  }

  .slide-enter-active {
    transition: all 0.2s ease;
  }
  .slide-leave-active {
    transition: all 0.2s ease;
  }
  .slide-enter,
  .slide-leave-to {
    transform: translateX(350px);
  }
  .members {
    .member {
      text-align: center;
      
    }
    span {
     
      position: relative;
    }
  }
}

// @include for-wide-layout {
//   .board-header {
//     height: 6vh;
//   }
// }
