.window-overlay {
    display: flex;
    position: absolute;
    align-items: flex-start;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.64);
    height: 100%;
    left: 0;
    overflow-y: auto;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
    padding: 48px 0;

    .board-dashboard-container {
        position: absolute;
        top: 60px;
        left: 50%;
        transform: translateX(-50%);
        width: 800px;
        height: 500px;
        overflow-y: auto;
        background-color: rgba(34, 34, 39, 0.95);
        z-index: 7;
        padding: 25px;
        border-radius: 5px;
        color: #fff;

        .data-container {
            margin: 20px 60px 9px 60px;
            .task-amount {
                .task-icon {
                    color: rgb(255, 255, 255);
                    font-size: 24px;
                    border-radius: 5px 0 0 5px;
                    background-color: rgba(145, 194, 196, 0.89);
                    width: 45px;
                    .task-icon-task {
                        padding-block-start: 31px;
                        font-size: 30px;
                    }
                }
                .data-task {
                    color: grey;
                    background-color: white;
                    clip-path: polygon(0 0, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
                    width: 80px;
                    text-align: center;

                    p {
                        font-size: rem(20px);
                        margin-inline-end: 13px;
                        margin-block-end: 16px;
                    }
                    span {
                        font-size: 32px;
                        margin-inline-end: 13px;
                    }
                }
            }
            .user-amount {
                .user-icon {
                    color: rgb(255, 255, 255);
                    font-size: 24px;
                    border-radius: 5px 0 0 5px;
                    background-color: rgba(141, 87, 148, 0.89);
                    width: 45px;
                    .user-icon-task {
                        padding-block-start: 31px;
                        font-size: 30px;
                    }
                }
                .data-task {
                    color: grey;
                    background-color: white;
                    clip-path: polygon(0 0, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
                    width: 80px;
                    text-align: center;

                    p {
                        font-size: rem(20px);
                        margin-inline-end: 13px;
                        margin-block-end: 16px;
                    }
                    span {
                        font-size: 32px;
                        margin-inline-end: 13px;
                    }
                }
            }
            .activity-amount {
                .activity-icon {
                    color: rgb(255, 255, 255);
                    font-size: 24px;
                    border-radius: 5px 0 0 5px;
                    background-color: rgba(238, 240, 134, 0.89);
                    width: 45px;
                    .activity-icon-task {
                        padding-block-start: 31px;
                        font-size: 30px;
                    }
                }
                .data-task {
                    color: grey;
                    background-color: white;
                    clip-path: polygon(0 0, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
                    width: 80px;
                    text-align: center;

                    p {
                        font-size: rem(20px);
                        margin-inline-end: 8px;
                        margin-block-end: 16px;
                    }
                    span {
                        font-size: 32px;
                        margin-inline-end: 13px;
                    }
                }
            }
        }

        .charts {
            margin-block-start: 10px;
        }

        .close-btn {
            position: absolute;
            top: 10px;
            right: 10px;
            font-size: 28px;
            cursor: pointer;
        }

        .dashboard-header {
            font-size: 30px;
            font-family: Segoe-Bold, serif;
            margin-block-start: 70px;
        }
    }
}
