.window-overlay {
    display: flex;
    position: absolute;
    align-items: flex-start;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.64);
    height: 100%;
    left: 0;
    overflow-y: auto;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
    padding: 48px 0;

    .board-dashboard-container {
        position: absolute;
        top: 50px;
        left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        width: 837px;
        height: 596px;
        overflow-y: auto;
        background-color: rgba(34, 34, 39, 0.95);
        z-index: 7;
        border-radius: 5px;
        color: #fff;
        .data-container {
            margin: 20px 60px 9px 60px;
            .amount {
                border-radius: 8px;
                margin: 0 12px 0 0 ;
                .icon {
                    font-size: 30px;
                    color: rgb(255, 255, 255);
                    font-size: 24px;
                    border-radius: 5px 0 0 5px;
                    height: 32px;
                }
                &.task-amount {
                    background-color: rgba(145, 194, 196, 0.89);
                    
                }

                &.user-amount {
                    background-color: rgba(141, 87, 148, 0.89);
                }

                &.activity-amount {
                    background-color: rgba(238, 240, 134, 0.89);
                }
                &.comments-amount {
                    background-color: rgba(187, 84, 81, 0.89);
                }
            }
            .data {
                color: grey;
                background-color: white;
                width: 130px;
                height: 47px;
                text-align: center;
                font-size: 25px;

                p {
                    font-size: rem(20px);
                    display: inline;
                    // margin-inline-end: 13px;
                    // margin-block-end: 16px;
                }
                span {
                    font-size: 32px;
                    margin-inline-end: 13px;
                }
            }
        }

        .charts {
            margin-block-start: 10px;
        }

        .close-btn {
            position: absolute;
            top: 12px;
            right: 12px;
            font-size: 31px;
            cursor: pointer;
        }

        .dashboard-header {
            font-size: 30px;
            font-family: Segoe-Bold, serif;
            margin-block-start: -21px;
        }
    }
}

@include for-medium-layout {
    .window-overlay .board-dashboard-container{
        width: 630px;
        .data-container {
            margin: 20px 12px 9px 31px;
    }
}
}
// $break-narrow: 700px;
// $break-mobile: 550px;