.board-list {
  h1 {
    margin: 30px 0;
    text-align: center;
    color: $clr1;
  }
  ul {
    flex-wrap: wrap;
    li {
      a {
        display: block;
        font-family: Segoe-Bold;
        width: 300px;
        height: 200px;
        border-radius: 8px;
        color: white;
        margin: 0 15px 15px 0;
        background-color: $clr2;
      }
      p {
        text-align: center;
        font-size: 20px;
        background-color: rgba(0, 0, 0, 0.356);
        border-radius: 8px 8px 0 0;
        line-height: 2;
      }
      .add-board {
        width: 300px;
        height: 200px;
        border-radius: 8px;
        color: $clr1;
        margin: 0 15px 15px 0;
        padding: 10px;
        background-color: #d6d3e5e3;
        line-height: 80px;
        text-align: center;
        font-size: 45px;
        cursor: pointer;


        &:hover {
          background-color: rgba(223, 220, 220, 0.46);
        }
      }
    }
  }
}
