.board-list {
  width: 97%;
  margin: auto;
  h1 {
    margin: 30px 0 10px;
    text-align: center;
    color: $clr1;
  }
  p{
    margin-block-end: 20px;
  }
  ul {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    width: 100%;
    gap: 15px;
    margin-right: 8px;
    li {
      a {
        display: block;
        font-family: Segoe-Bold;
        height: 200px;
        border-radius: 8px;
        color: white;
        background-color: $clr2;
      }
      p {
        text-align: center;
        font-size: 20px;
        background-color: rgba(0, 0, 0, 0.356);
        border-radius: 8px 8px 0 0;
        line-height: 2;
      }
      .add-board {
        height: 200px;
        border-radius: 8px;
        color: $clr1;
        padding: 10px;
        background-color: #d6d3e5e3;
        line-height: 80px;
        text-align: center;
        font-size: 45px;
        cursor: pointer;
        background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='8' ry='8' stroke='black' stroke-width='4' stroke-dasharray='6%2c 14' stroke-dashoffset='37' stroke-linecap='round'/%3e%3c/svg%3e");
        border-radius: 8px;

        &:hover {
          background-color: rgba(223, 220, 220, 0.46);
        }
      }
    }
  }
}
