.board-details {
  .board-content {
    position: relative;
    overflow-x: scroll;
    flex: 1;
    .group-container {
      .group {
        position: relative;
        background-color: $clr2;
        border-radius: 3px;
        margin-inline-end: 8px;
        width: 272px;
        height: fit-content;
      }
    }
    &::-webkit-scrollbar {
      width: 12px;
      height: 12px;
    }
    &::-webkit-scrollbar-thumb {
      background: rgba(255, 255, 255, 0.386);
      border-radius: 5px;
    }
    &::-webkit-scrollbar-track {
      background: rgba(9, 30, 66, 0.08);
      border-radius: 5px;
      margin-inline-start: 8px;
      margin-inline-end: 8px;
    }
  }
  .drag-drop-move {
    transition: transform 1s;
  }
  .screen {
    align-items: flex-start;
    background-color: rgba(0, 0, 0, 0.64);
    display: none;
    height: 100%;
    justify-content: center;
    left: 0;
    overflow-y: auto;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 20;
  }

  .flip-list-move {
    transition: transform 0.5s;
  }
  .no-move {
    transition: transform 0s;
  }
  .ghost {
    opacity: 0.5;
    background: #c8ebfb;
  }
  .slide-enter-active {
    transition: all 0.2s ease;
  }
  .slide-leave-active {
    transition: all 0.2s ease;
  }
  .slide-enter,
  .slide-leave-to {
    transform: translateX(350px);
  }
}
