.user-container {

  margin-inline-start: 200px;
  margin-inline-end: 200px;
  .user-header {
    height: 112px;
    width: 100%;
    // background-color: white;
    .username {
      margin-block-start: 34px;
      .member {
        margin-inline-end: 10px;
      }
      h1 {
        font-size: 24px;
        font-weight: 500;
        line-height: 28px;
        color: #0c3953;
        // margin-right: 10px;
      }
    }
  }

  .profile {
    .header-profile {
      color: #0c3953;
      font-weight: 700;
      margin: 2px 2px 0;
      bottom: 46px;
      background-color: #fbfbff;
      border: none;
      height: 38px;
      border-radius: 3px;
      outline: none;
      font-size: 14px;
      padding: 8px 10px;
    }
  }
  .image-user {
    width: 60%;
    margin-inline-end: 147px;
    margin-block-start: 20px;
  }

  .about {
    width: 100%;
    h3 {
      display: flex;
      color: #172b4d;
      font-size: 20px;
      font-weight: 600;
      letter-spacing: -0.008em;
      line-height: 24px;
      margin-top: 20px;
      font-weight: 500;
      line-height: 26px;
      justify-content: flex-start;
      
    }
  }
}
