* {
  box-sizing: border-box;
}

html {
  font-family: Segoe, serif;
  line-height: 1.6;
  color: $clr1;
  font-size: rem(16px);
}

body {
  margin: 0;
  background-size: 180px;
  background-attachment: fixed;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Segoe-Bold, serif;
  margin: 0;
  font-weight: 600;
}

h4 {
  font-family: Segoe, serif;
  margin: 0;
  font-weight: 600;
}

h2 {
  font-size: rem(16px);
}

p {
  max-width: 48ch;
  margin: 0;
}

img {
  width: 100%;
}

/* ROUTES */

a {
  text-decoration: none;
  color: $clr2;
}

a:focus,
a.router-link-exact-active {
  // color: $clr5;
  font-weight: bold;
}

hr{
  background-color: rgba(9, 30, 66, 0.13);
  border: 0;
  height: 1px;
  margin: 0;
  margin-inline-start: 10px;
  margin-inline-end: 10px;
}

/* BUTTON */

button {
  cursor: pointer;
}

.textarea {
  overflow: hidden;
  overflow-wrap: break-word;
  resize: none;
  outline: none;
  border: none;
  width: 250px;
  height: 65px;
  border-radius: 3px;
  font-family: Segoe, serif;
  letter-spacing: normal;
  font-size: em(16px);
}

// SCROLL BAR
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
 }
 ::-webkit-scrollbar-thumb {
  background: linear-gradient(13deg, 14%, 64%);
  border-radius: 15px;
 }
 ::-webkit-scrollbar-thumb:hover{
  background: linear-gradient(13deg, #DBDBDB 14%,#dbdbdb 64%);
 }
 ::-webkit-scrollbar-track{
  background: #ffffff;
  border-radius: 15px;
  box-shadow: inset 7px 10px 12px #f0f0f0;
 }
