/* FLEX HELPERS */

.flex {
  display: flex;
}

.column {
  flex-direction: column;
}

.flex.space-between {
  justify-content: space-between;
}

.flex.justify-center {
  justify-content: center;
}

.flex.justify-end {
  justify-content: flex-end;
}

.flex.align-center {
  align-items: center;
}
.flex.align-start {
  align-items: flex-start;
}

.flex.flex-grow {
  flex: 1;
}

/* LIST HELPERS */

.clean-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.site-block {
  margin-bottom: rem(20px);
}

/* BUTTON HELPERS */
.el-btn {
  background-color: hsla(0, 0%, 100%, 0.24);
  border: none;
  &:hover {
    background-color: hsla(0, 0%, 100%, 0.32);
    border-color: #bfbfbfd6;
    color: #fff;
  }
}

.el-close {
  position: absolute;
  top: 15px;
  right: 15px;
  color: $clr1;
  background-color: transparent;
  border: none;
  &:hover {
    background-color: rgba(9, 30, 66, 0.08);
    color: $clr1;
    border: none;
  }
  &:focus {
    background-color: rgba(9, 30, 66, 0.08);
    color: $clr1;
    border: none;
  }
}

// ASPECT RATIOS

.ratio-16-9 {
  @include aspect-ratio(100, 56);
}

.ratio-square {
  @include aspect-ratio(100, 100);
}

.ratio-card {
  @include aspect-ratio(100, 80);
}

.ratio-poster {
  @include aspect-ratio(100, 150);
}
